body {
    font-size: 20px;
}

.ui-icon-bars, .ui-icon-home {
   width:2.5rem;
   height:2.5rem;
}

.content-padding {
    margin-top: 5%;
}

#saveAlarm {
    margin-top: 5%;
    margin-bottom: 0;
    background-color: forestgreen;
    opacity: 0.8;
    color: #FFF;
    font-weight: normal;
}

#alarmsList li a {
    padding: 5%;
    font-size: 1.2rem;
}

.fliper {
    position: absolute !important;
    right: 5% !important;
    top: 50%; 
    margin-top: -1.5em;
}

#map {
    width: 100%;
    text-align: center;
}

#clock {
    font-size: 3rem;
    color: red;
}

.center-wrapper{
    text-align: center;
}

#newAlarm {
    position: fixed;
    bottom: 2%;
    right: 2%;
    width: 3rem;
    height: 3rem;
    background-color: forestgreen;
    border-radius: 50%;
    opacity: 0.8;
    z-index: 2;
}