body {
    font-size: 20px;
}

.ui-icon-bars, .ui-icon-home {
   width:2.5rem;
   height:2.5rem;
}

.content-padding {
    margin-top: 5%;
}

#saveAlarm {
    margin-top: 5%;
    margin-bottom: 0;
    background-color: forestgreen;
    opacity: 0.8;
    color: #FFF;
    font-weight: normal;
}

#map {
    width: 100%;   
}

#clock {
    font-size: 3rem;
    color: red;
}

.center-wrapper{
  text-align: center;
}
.center-wrapper * {
  margin: 0 auto;
}

#newAlarm {
    position: fixed;
    bottom: 3%;
    right: 3%;
    width: 4rem;
    height: 4rem;
    background-color: forestgreen;
    border-radius: 45%;
    opacity: 0.8;
}